body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* ----- header  ------ */



 /*  ----- container  ----- */



 /* ------ availebleStoreItems -------- */
 

/* ----- store item ----- */


/* --------- Product Info ------ */


 /* ----- picture ---- */
.picture {
  max-width: 100%;
  height: auto;
}


/* ----- .cart-button ---- */
.cart-icon {
  width: 35px;
  height: 35px;
}

.cart-icon path {
  fill: #f3f0f0;
}



/* ---- shopping cart ---- */


/* ------ CartItem ----- */

